@font-face {
	font-family: "OratorSTD";
	src: url("../fonts/OratorStd.otf");
	font-weight: normal;
	font-style: normal;
}
 
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Light.ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
}

body {
	background: url("../img/bg.png");
	font-family: "Raleway";
}

a {
	text-decoration: none;
	color: black;
	transition: .5s;
}

#map-article {
	height: 300px;
	margin-top: 15px;
}

.center-div {
	text-align: center;
	width:100%;
}

.imgArticle {
	width: 60%;
	padding: 30px 0;
	height: auto;
}

h1 {
	font-family: "OratorSTD";
	font-size: 24px;
	margin: 15px 0;
}

h2 {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 18px;
	text-align: center;
}

img {
	width: 100%;
}

button {
	background: none;
	border: none;
}

.submit-search-btn {
	background: url("../img/search_ideogram.png");
	background-size: cover;
	background-origin: center center;
	height: 20px;
	width: 20px;
	border: 0;
}

p {
	line-height: 26px;
}

.space {
	height: 50px;
}

.clearfix {
	clear: both;
}

.footer-infos {
	background: white;
	padding-bottom: 25px;
	margin: 0;
	text-align: center;
}

.footer img{
	margin-bottom: -5px;
}


/* MENU - NAVIGATION */
.search-form-menu, .quitSearch {
	display: none;
}

nav {
	padding: 10px 0;
	background: white;
	position: relative;
	min-height: 50px;
}

.navbar {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
}

nav li {
	font-family: "OratorSTD";
	text-align: center;
	font-size: 16px;
	flex: 1;
}

.navbar .active a {
	color: #229b74;
}

.navbar a:hover {
	color: #b3b3b3;
	transition: .5s;
}

.nav-menuIcon {
	height: 45px;
	width: auto;
}

.result-header {
	background : url("../img/recherche_header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
}

.nature-header {
	background : url("../img/nature_header.JPG");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
}

.urbain-header {
	background : url("../img/urbain-header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
}

.imgHeader {
	height: 25%;
	width: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.ruines-header {
	background : url("../img/ruines-header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
}


.carte-header {
	background : url("../img/carte-header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
}

.apropos-header {
	background : url("../img/apropos-header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
}


.search-link {
	flex: 0.5;
}

.nav-icon {
	height: 20px;
	width: auto;
}

.nav-subtitle {
	font-family: "Raleway";
	font-size: 14px;
	color: #b3b3b3;
}

.mobile-nav {
	display: none;
}

.container {
	width: 60%;
	margin: 30px auto;
}

.article-items-container {
	width: 90%;
	margin: auto;
}

.all-hashtags {
	text-align: center;
}

.hashtag, .hashtag-selected {
	display: inline-block;
	margin: 10px 15px;
	padding: 5px;
	font-family: "OratorSTD";
	font-size: 16px;
	cursor: pointer;
	color: white;
}

.hashtag {
	background: #c6c6c6;
	transition: .3s;
}

.hashtag:hover {
	background: #b3b3b3;
	transition: .3s;
}

.hashtag-selected {
	background: #229b74;

}

.hashtag > a {
	color: white;
}

/* ARTICLE */
.grid-sizer {
	width: 50%;
}

.grid-item {
	width: 45%;
	margin: 2.5%;
}

.article-item {
	background: white;
	position: relative;
	padding-bottom: 55px;
}

.article-item-img {
	width:100%;
	padding: 0;
}

.article-item-description {
	padding: 0 10px 10px 10px;
	text-align: center;
}

.article-item-info {
	text-align: right;
	font-size: 14px;
}

.article-item-title, .article-item-hashtag {
	font-family: "OratorSTD";
}

.article-item-title {
	padding: 15px 35px;
	font-size: 16px;
}

.article-item-hashtag {
	font-size: 14px;
	color: #b3b3b3;
}

.article-item-link {
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}

.article-item-btn {
	width: auto;
	height: 38px;

}

.article-container, .about-container {
	width: calc(80% - 100px);
	margin: auto;
	padding: 30px 50px;
	background: white;
}

.about-container h1 {
	text-align: center;
}

.indented-line {
	margin-left: 40px;
}

.align-center {
	text-align: center;
	width: 100%;
}

.difficulty-icon {
	height: 40px;
	width: auto;
	padding: 0 7px;
}

.article-title {
	text-align: center;
	padding: 30px 50px;
}

.article-content::first-letter, .about-content::first-letter {
	font-size:4.2em;
	padding-right: 0px;
	margin-left: -5px;
	float:left;
	color: #229b74;
	font-family: "OratorSTD";
}

input[type="button"] {
	border:none;
}

.article-info {
	text-align: right;
	font-size: 13px;
	margin-bottom: 20px;
}

.img-soulign {
	width: auto;
}

.article-img {
	padding: 10px 0 0 0;
}

.article-container input {
	border:none;
}

.article-complementary-info {
	margin-top: 75px;
	text-align: center;
}

.map-form {
	text-align: right;
}

.map-button {
	margin: 15px 0;
	line-height: 30px;
	padding: 5px;
	font-size: 14px;
	color: white;
	background: #229b74;
	cursor: pointer;
	transition: 1s;
}

.map-button:hover {
	background-color: #52cea6;
	transition: 1s;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-2 {
	flex:2;
}

.flex-1 {
	flex:1;
}

.profil-img {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.img-container {
  text-align:center; /* Align center inline elements */
  font: 0/0 a;       /* Hide the characters like spaces */
}

.img-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.about-content .flex-2 {
	padding: 0 5px;
}

.search-form-div {
	text-align: left;
}

.search-form-item {
	flex:1;
}



.control-group {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-right: 50px;
}

.control {
	font-size: 16px;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #229b74;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #229b74;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 2px;
	left: 6px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

.control-group p {
	font-weight: 700;
	padding: 5px 0;
	font-size: 18px;
}

@media (max-width: 1280px) {
	.natureHeader {
		height: 250px;
	}

	.container {
		width: 85%;
		margin: auto;
	}

	.article-container, .about-container {
		width: calc(95% - 70px);
		margin: 35px auto;
		padding: 30px 35px;
		background: white;
	}

	.article-item-container {
		width: 90%;
	}
}

@media screen and (max-width: 640px) {
	.natureHeader {
		height: 200px;
	}

	.mobile-nav {
		display: initial;
		float: right;
	}

	.hidden {
		display: none;
	}

	.clearfix {
		clear: both;
	}

	.container {
		width: 100%;
		margin: auto;
	}

	.grid-sizer {
		width: 100%;
	}

	.grid-item {
		width: 95%;
		margin: 2.5%;
	}

	.article-item-container {
		width: 100%;
	}

	.article-container, .about-container {
		width: calc(95% - 70px);
		margin: 20px auto;
		padding: 30px 35px;
		background: white;
	}

	.row {
		display: flex;
		flex-direction: column;
	}

	.navbar {
		list-style: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
	}

	nav li {
		font-family: "OratorSTD";
		text-align: center;
		font-size: 16px;
		flex: 1;
		padding: 10px 0;
	}

	.search-link {
		flex: 1;
	}
}


.imgArticle {
	width: 75%;
	height: auto;
	text-align: center;
	margin : 5% 12.5%;
}

